<!DOCTYPE html>
<html lang="en">
<head>
	<title>About</title> 
	<link rel="stylesheet" type="text/css" href="public/css/about.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
    <% include ../partials/head %>
</head>
<body>
<div class="container">
<header style="margin: 15px;">
    <% include ../partials/nav %>
</header>
</div>
<main>
	<div class="container">
	<div class="contact1">
	<div class="container-contact1">

        <h1 style="font-family: 'Montserrat', sans-serif;">About Me</h1>

        <img style=" border-radius: 50%; width: 25%;padding-top: 25px" src="public/img/about.jpg" alt="IMG">
        <div class="container">

        <p>Every day, Every hour, Every hour, I keep browsing random things. Whenever I see a word I don't know I search for it and I would see different sites and different information. But only one site takes me to the one I want. I will snip that content into my site at my free time. So that I can have a list of best content whatever I searched or you can say this is a place where you can find best search snips.</p></div>
    </div>
</div>
</div>


</main>

<footer>
    <% include ../partials/foot %>
</footer>

</body>
</html>