<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
    <% include ../partials/head %>
</head>
<body>
	<div class="container">
<header style="margin: 15px;">
    <% include ../partials/nav %>
</header></div>

<main class="container">
    
   <% include ../partials/jumbotron %>
</main>

<footer>
    <% include ../partials/foot %>
</footer>

</body>
</html>