   <div class="container-fluid footer" style="background-color:#fff;  border-radius: 15px 15px 0px 0px;">
    
<div class="row">
    <div class="col-6">
    <p style="text-align:center; margin-top:18px; font-family: 'IBM Plex Mono', monospace;" >Copyright © 2018 SEARCHSNIPS</p>
    
    </div>
       <div class="col-6" style="text-align:center; margin-top:18px; font-family: 'IBM Plex Mono', monospace;">
      <a href="mailto:54321hemanth@gmail.com?Subject=Hello%20Quester">MailMe<i class="fas fa-envelope" style="font-size: 120%; margin-left: 10px;"></i></a>
    
    </div>
    
    </div>

                       
</div>