<div class="container-fluid" id="menu-wrapper">
    <div class="row">
        <div class="col-3">
<div >
        <div id="hamburger-menu"><span></span><span></span><span></span></div>
        <!-- hamburger-menu -->

    </div></div>
        
        <div class="col-9">
        <img style="margin-left:2px; width:60%" src="public/img/logo.png" alt="IMG">
        </div>
    </div></div>

    
    <div id="menu-container">
    
    <!-- menu-wrapper -->
    <ul class="menu-list accordion">
        <li id="nav1" class="toggle accordion-toggle home">
            <span><i class="fas fa-home" style="font-size:130%;text-shadow: 1px 1px 1px #ccc;color: solid #dbdcd2;"></i></span>
            <a class="menu-link">Home</a>
        </li>

      
      
        <li id="nav2" class="toggle accordion-toggle about">
            <span><i class="far fa-user" style="font-size:130%;text-shadow: 1px 1px 1px #ccc;color: solid #dbdcd2;"></i></span>
            <a class="menu-link">About</a>
        </li>

      
        <li id="nav3" class="toggle accordion-toggle contact">
         <span><i class="fas fa-pen" style="font-size:120%;text-shadow: 1px 1px 1px #ccc;color: solid #dbdcd2;"></i></span>
            <a class="menu-link">Contact</a>
        </li>
       
     

    </ul>

</div>
<script src="public/js/nav.js"></script>
